<form action="/search" name="search">
  <input type="text" name="cat">
  <input type="hidden" name="lat" id="lat">
  <input type="hidden" name="long" id="long">
  <input type="submit" value="Search">
</form>
